In [4]:
# The code was removed by Watson Studio for sharing.

,dateTime,measure,value
0,2022-06-09T00:00:00Z,http://environment.data.gov.uk/flood-monitorin...,0.000
1,2022-06-09T00:00:00Z,http://environment.data.gov.uk/flood-monitorin...,0.000
2,2022-06-09T00:00:00Z,http://environment.data.gov.uk/flood-monitorin...,0.100
3,2022-06-09T00:00:00Z,http://environment.data.gov.uk/flood-monitorin...,0.000
4,2022-06-09T00:00:00Z,http://environment.data.gov.uk/flood-monitorin...,0.035

In [3]:
df_data_1

,dateTime,measure,value
0,2022-06-09T00:00:00Z,http://environment.data.gov.uk/flood-monitorin...,0.000
1,2022-06-09T00:00:00Z,http://environment.data.gov.uk/flood-monitorin...,0.000
2,2022-06-09T00:00:00Z,http://environment.data.gov.uk/flood-monitorin...,0.100
3,2022-06-09T00:00:00Z,http://environment.data.gov.uk/flood-monitorin...,0.000
4,2022-06-09T00:00:00Z,http://environment.data.gov.uk/flood-monitorin...,0.035
...,...,...,...
451970,2022-06-09T23:15:00Z,http://environment.data.gov.uk/flood-monitorin...,0.608
451971,2022-06-09T20:45:00Z,http://environment.data.gov.uk/flood-monitorin...,0.623
451972,2022-06-09T21:15:00Z,http://environment.data.gov.uk/flood-monitorin...,0.616
451973,2022-06-09T22:15:00Z,http://environment.data.gov.uk/flood-monitorin...,0.609
451974,2022-06-09T20:30:00Z,http://environment.data.gov.uk/flood-monitorin...,0.626